:root {
	--hover-text: #878787;
	--color-yellow-dark: #ebae29;
	--color-yellow-light: #ffd447;
	--color-black-header: #393939;
	--color-grey: #5a5959;
	--color-black-text: #0f0f10;
	--color-grey-1: #eeebe1;
	--hover-bc: #f8f7f3;
}

body {
	height: 100%;
	background-color: #f8f7f3;
}

header {
	max-width: 1130px;
	height: 71px;
	padding: 0 5px 0 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

main {
	flex-grow: 1;
}

footer {
	height: 721px;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	color: var(--hover-text);
}

button:hover {
	background-color: var(--color-yellow-dark);
	cursor: pointer;
}

@media screen and (max-width: 1165px) {
	header {
		box-sizing: content-box;
		padding: 0;
		margin: 0 49px 0 53px;
		width: 90.8%;
		height: 69px;
		align-items: flex-start;
		justify-content: flex-start;
	}
	header:last-child {
		padding-top: 8px;
	}
}

@media screen and (max-width: 985px) {
	header {
		margin: 0;
		width: 100%;
	}
}

@media screen and (max-width: 920px) {
	header {
		margin: 0 52px 0 37px;
		width: 669px;

		max-height: 69px;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 765px) {
	header {
		width: 100%;
		height: 62px;
		margin: 0px;
	}

	main {
		margin: auto;
		width: 100%;
	}

	footer {
		height: auto;
	}
}

@media screen and (max-width: 465px) {
	header {
		max-height: 82px;
	}

	footer {
		height: auto;
	}
}
